/* Elements */

body {

  margin: 0;
  padding: 0;
  font-size: 76%;
  color: black;
  background-color: white;

}

table {

  border: 0;
  border-spacing: 0.2rem;
  border-collapse: separate;

}

th, td {

  height: 1.8rem;
  padding: 0.2rem;

}

a {

  color: black;

}

/* IDs */

#header {

  position: fixed;
  z-index: 1;
  top: 0%;
  width: 100%;
  height: 2.5rem;
  font-size: 2rem;
  padding-left: 20;
  padding-right: 20;

}

#main {

  position: relative;
  z-index: 0;
  top: 2.5rem;
  padding: 20;

}

/* Classes */

.header_color {

  background-color: #2871bf; /* dark blue #2871bf dark green #2e6e67 light brown #ba9082, light green #90BA82, light blue #66a1ff */
  color: white;

}

.query_table {

  text-align: center;
  background-color: white;
  width: 100%;

}

.query_row_default {

  background-color: #ebeae1;
  color: black;

}

.query_row_warning {

  background-color: #e6c0b3;
  color: black;

}

.cfg_table {

  background-color: #EFF5F5;

}

/* Input */

.select_default {

  min-width: 15rem;

}

.select_small {

  min-width: 7rem;

}

.text_default {

  width: 15rem;

}

.text_large {

  width: 30rem;

}

.footer {

  position: relative;
  bottom: 0;
  line-height: 0.5rem;
  font-size: 1rem;

}

#links {

  position: absolute;
  left: 0;

}

#navbar {

  position: absolute;
  right: 0

}
