/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,400italic);

/* Elements */

html {
    font-family:'Source Sans Pro','Helvetica Neue','Helvetica','Arial','sans-serif';
    font-weight:400;
    font-size: 100%;
    color: black;
    background-color: #efefef;
    min-height: 95%;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
}

table {
    border: 0;
    border-spacing: 0.2rem;
    border-collapse: separate;
}

th, td {
    height: 1.8rem;
    padding: 0.2rem;
}

th, b {
    font-weight: 600;
}

a, p {
    color: black;
}

/* Header */

#header {
    position: fixed;
    z-index: 1;
    top: 0%;
    width: 100%;
    height: 3rem;
    background-color: #2871bf; /* dark blue #2871bf dark green #2e6e67 light brown #ba9082, light green #90BA82, light blue #66a1ff */
    color: white;
}

#title {
    padding-left: 2rem;
    padding-top: 0.5rem;
    font-weight: 200;
    font-size: 1.4rem;
    position: absolute;
    left: 0;
}

#title a {
    text-decoration: none;
    color: white;
}

#header_links {
    padding-top: 0.8rem;
    padding-right: 2rem;
    font-weight: 200;
    font-size: 1rem;
    position: absolute;
    right: 0;
    color: white;
}

.header_button {
    padding-left: 1rem;
    display: inline-block;
    text-decoration: none;
}

.header_button a {
    color: white;
    text-decoration: none;
}

.header_button:hover {
    text-decoration: underline;
}

.header_button:hover a{
    text-decoration: underline;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    position: absolute;
    display: none;
}

.dropdown:hover .dropdown_content {
    display: block;
    padding-top: 0.8rem;
}

.dropdown_content a {
    padding: 0.5rem;
    min-width: 10rem;
    display: block;
    font-weight: 400;
    font-size: 0.8rem;
    color: #444444;
    background-color: #f9f9f9;
    border-left: 1px #888888 solid;
    border-right: 1px #888888 solid;
    border-bottom: 1px #888888 solid;
    text-decoration: none;
}

.dropdown_content a:hover {
    text-decoration: underline;
}

/* Main */

#main {
    position: relative;
    z-index: 0;
    top: 3rem;
    padding: 1rem;
    margin: 2rem;
    background-color: #fbfbfb;
    border: 1px lightgray solid;
}

/* Loading */

#loading-container, #loading-hide, #loading-1, #loading-2, #loading-3, #loading-4, #loading-5 {
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#loading-container, #loading-hide {
    width: 60px;
    height: 60px;
}

#loading-container {
    z-index: -3;
    background-color: lightgray;
    border-radius: 30px;
}

#loading-hide {
   z-index: -1;
   background-color: white;
}

@keyframes spin {
    0%   {transform: translate(20px,0px); background-color: white;}
    13%  {transform: translate(14px,14px);}
    26%  {transform: translate(0px,20px);}
    39%  {transform: translate(-14px,14px);}
    52%  {transform: translate(-20px,0px);}
    65%  {transform: translate(-14px,-14px);}
    78%  {transform: translate(0px,-20px);}
    91%  {transform: translate(14px,-14px);}
    100% {transform: translate(20px,0px); background-color: white;}
}

#loading-1, #loading-2, #loading-3, #loading-4, #loading-5 {
    z-index: -2;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    animation-name: spin;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#loading-2 {
    animation-delay: 0.1s;
}

#loading-3 {
    animation-delay: 0.2s;
}

#loading-4 {
    animation-delay: 0.3s;
}

#loading-5 {
    animation-delay: 0.4s;
}

/* Columns */

 .column, .column_small, .column_default, .column_large {
    display: inline-block;
    vertical-align: top;
}

.column.faq_override {
    vertical-align: bottom;
    margin: 0.5rem;
}

.box_shadow {
    box-shadow: 0.1rem 0.1rem 0.3rem #888888;
}

.column {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.column.zero_padding {
    padding: 0;
}

.column_small {
    width: 15%;
}

.column_default {
    width: 40%;
}

.column_large {
    width: 80%;
}

/* Tables */

.stripped_table {
    text-align: center;
    background-color: #dddddd;
    border-spacing: 0.1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
}

.stripped_table th {
    color: #222222;
    padding: 0.3rem;
}

.stripped_table td {
    padding: 0.3rem;
}

.stripped_table tr {
    color: #444444;
}

.stripped_table tr a {
    color: #444444;
}

.stripped_table tr.warning {
    color: #b32400;
}

.stripped_table tr.warning a {
    color: #b32400;
}

.stripped_table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.stripped_table tr:nth-child(even) {
    background-color: #ededed;
}

.stripped_table tr:hover {
    text-shadow: 1px 0px;
}

.cfg_color {
    background-color: #eff4fa;
}

/* Input */

.select_small, .text_small {
    min-width: 7rem;
}

.select_default, .text_default {
    min-width: 15rem;
}

.select_large, .text_large {
    min-width: 30rem;
}

.select_small_percent, .text_small_percent {
    min-width: 20%;
}

.select_default_percent, .text_default_percent {
    min-width: 40%;
}

.select_large_percent, .text_large_percent {
    min-width: 90%;
}

/* Faq */

#faq_sidebar, #faq_topics {
    margin: 0% 1%;
}

/* Footer */

#nav_left, #nav_right {
    display: inline-block;
    width: 49.8%;
}

#nav_left {
    text-align: left;
}

#nav_right {
    text-align: right;
}

.spacer {
    height: 2rem;    
}

#footer {
    position: absolute;
    bottom: -5%;
    left: 0;
    right: 0;
    padding: 0.5rem;
    border-top: 1px #888888 solid;
    background-color: white;
    text-align: center;
}
