### Definir abaixo as constantes do ambiente

### compartilhamentos para obtenção de pacotes e disponbilização de logs (os caminhos podem ser iguais):
CAMINHO_PACOTES_REMOTO=
CAMINHO_LOGS_REMOTO=

### hierarquização dos diretórios

QTD_DIR=

DIR_1=
DIR_2=
DIR_3=
DIR_4=
DIR_5=
DIR_6=
DIR_7=
DIR_8=
DIR_9=
DIR_10=

### caminho para log de deploys global:
GLOBAL_LOCK=
GLOBAL_LOG=

### diretórios/arquivos utilizados no processo de deploy jboss:
TMP_DIR=
LOG_DIR=
LOG=
LOCK=
