### Definir abaixo as constantes do ambiente

### compartilhamentos para obtenção de pacotes e disponbilização de logs (os caminhos podem ser iguais):
caminho_pacotes_remoto=
caminho_logs_remoto=

### hierarquização dos diretórios

qtd_dir=

dir_1=
dir_2=
dir_3=
dir_4=
dir_5=
dir_6=
dir_7=
dir_8=
dir_9=
dir_10=

### caminho para log de deploys global:
global_lock=
global_log=

### diretórios/arquivos utilizados no processo de deploy jboss:
tmp_dir=
log_dir=
log=
lock=
