app=
# Repositório Git (origem)
repo=
raiz=
# Deploy Automático
auto\[[0-9]\]=
branch\[[0-9]\]=
revisao\[[0-9]\]=
# Servidor de Aplicação (destino)
hosts\[[0-9]\]=
share\[[0-9]\]=
mount_type=
mount_options=
force_gid=
force_uid=
# Modo de Deploy
modo\[[0-9]\]=