app=
# Repositório Git
repo=
raiz=
branch[@ambiente]=
revisao[@ambiente]=
# Servidor de Aplicação
hosts[@ambiente]=
deploy_path[@ambiente]=
log_path[@ambiente]=
mount_type=
mount_options=
force_gid=
force_uid=
# Opções de Deploy
auto[@ambiente]=
modo[@ambiente]=
