# Opções de deploy padrão
modo_padrao=
rsync_opts=
# Expurgo de logs
history_app_size=
history_global_size=
log_cron_size=
history_html_size=
# HTML
html_title=
html_header=
html_table_style=
html_th_style=
html_tr_style_default=
html_tr_style_warning=
# Expressões inválidas
not_regex_
