# Opções de deploy padrão
modo_padrao=
rsync_opts=
max_running=
lock_timeout=
# Expurgo de logs
app_log_max=
global_history_size=
service_log_size=
# HTML
cgi_timeout=
cgi_table_size=
cgi_list_pages=
cgi_public_pages=
cgi_private_pages=
cgi_admin_pages=
cgi_index_title=
cgi_search_title=
cgi_app_params_title=
cgi_agent_params_title=
cgi_deploy_pages_title=
cgi_deploy_packages_title=
cgi_users_title=
cgi_groups_title=
cgi_signup_title=
# Expressões inválidas
not_regex_
