# Opções de deploy padrão
modo_padrao=
rsync_opts=
max_running=
lock_timeout=
# Expurgo de logs
app_log_max=
global_history_size=
service_log_size=
# HTML
cgi_public_pages=
cgi_private_pages
cgi_index_title=
cgi_search_title=
cgi_app_params_title=
cgi_deploy_pages_title=
html_table_style=
html_table_size=
html_th_style=
html_tr_style_default=
html_tr_style_warning=
# Expressões inválidas
not_regex_
