### Definir abaixo as constantes do ambiente

### modo de execução (server/agent)
execution_mode=
verbosity=

### compartilhamentos para obtenção de pacotes e disponbilização de logs (os caminhos podem ser iguais):
remote_pkg_dir_tree=
remote_log_dir_tree=
remote_lock_dir=
remote_conf_dir=
remote_history_dir=
remote_app_history_dir_tree=

### diretórios/arquivos locais utilizados pelo agente.
work_dir=
lock_dir=
log_dir=
log=
service_init_script=

### parâmetros de execução de agentes
max_running=
agent_timeout=
service_log_size=

### Validação de diretórios utilizados pelo agente.
regex[tmp_dir]=
regex[log_dir]=
regex[lock_dir]=
regex[remote_dir]=

### expressões regulares relacionadas a variáveis utilizadas pelo agente.
regex[agent_name]=
regex[agent_task]=
regex[filetypes]=
