### Definir abaixo as constantes do ambiente

### modo de execução (server/agent)
execution_mode=
interactive=

### compartilhamentos para obtenção de pacotes e disponbilização de logs (os caminhos podem ser iguais):
remote_pkg_dir_tree=
remote_log_dir_tree=
remote_lock_dir=
remote_history_dir=
remote_app_history_dir_tree=

### hierarquização dos diretórios ('ambiente' deve ser o primeiro subnível da árvore).

qtd_dir=

dir_1=
dir_2=
dir_3=
#dir_4=''
#dir_5=''
#dir_6=''
#dir_7=''
#dir_8=''
#dir_9=''
#dir_10=''
#...

### diretórios/arquivos locais utilizados pelo agente.
work_dir=
lock_dir=
log_dir=
log=

### Validação de diretórios utilizados pelo agente.
regex_tmp_dir=
regex_lock_dir=
regex_remote_dir=

### expressões regulares relacionadas a variáveis utilizadas pelo agente.
regex_agent_name=
regex_task_name=
regex_file_types=
