# -----------------------------------------------------------------------------------------------------
# Local a ser monitorado no repositório de pacotes. Cada variável corresponde a um nível de diretório.
# -----------------------------------------------------------------------------------------------------
ambiente=
servidor_aplicacao=
identificacao=
# -----------------------------------------------------------------------------------------------------
# Parâmetros do servidor de aplicação:
# -----------------------------------------------------------------------------------------------------
caminho_instancias_jboss=
